In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [11]:
df = pd.read_csv(r'D:\Code\Code\apmcm\2022_APMCM_C_Data.csv',encoding='ANSI',parse_dates = ['dt'])

In [12]:
df.shape

(239177, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  datetime64[ns]
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 12.8+ MB

In [14]:
df.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       228175.000000                  228175.000000
mean            18.125969                       0.969343
std             10.024800                       0.979644
min            -26.772000                       0.040000
25%             12.710000                       0.340000
50%             20.428000                       0.592000
75%             25.918000                       1.320000
max             38.283000                      14.037000

In [6]:
df.isnull().sum()

dt                                   0
AverageTemperature               11002
AverageTemperatureUncertainty    11002
City                                 0
Country                              0
Latitude                             0
Longitude                            0
dtype: int64

In [7]:
df.isnull().sum()['AverageTemperature']/len(df['AverageTemperature'])*100

4.599940629742826

In [36]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1833-01-01,2.290,2.487,Kabul,Afghanistan,34.56N,70.05E
1,1833-02-01,3.319,2.325,Kabul,Afghanistan,34.56N,70.05E
2,1833-03-01,7.444,2.733,Kabul,Afghanistan,34.56N,70.05E
3,1833-04-01,13.576,2.266,Kabul,Afghanistan,34.56N,70.05E
4,1833-05-01,19.321,2.362,Kabul,Afghanistan,34.56N,70.05E

In [34]:
# df['Country'].describe()

count     239177
unique        48
top        China
freq       37517
Name: Country, dtype: object

In [6]:
# df_stat = df.groupby('Country').agg(['min','max'])
# df_stat.head(8)

In [49]:
# df_China = df[df['Country']=='China']
# df_Changchun =df_China[df_China['City']=='Changchun']
# df_Changchun['year']=df_Changchun['dt'].dt.year
# df_Changchun=pd.DataFrame(df_Changchun.groupby(['year'])['AverageTemperature'].mean())

C:\Users\Tony\AppData\Local\Temp\ipykernel_21900\98026833.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Changchun['year']=df_Changchun['dt'].dt.year

In [1]:
# df_Changchun.to_csv('Changchun.csv')

NameError: name 'df_Changchun' is not defined

In [17]:
data=df
data1=df[df['dt'].dt.year.isin(np.arange(1910,1911))]
data2=df[df['dt'].dt.year.isin(np.arange(2010,2011))]

In [18]:
data1910=pd.DataFrame(data1.groupby(['Country'])['AverageTemperature'].mean())
data1910.to_csv('1910.csv')
data1910=pd.DataFrame(data2.groupby(['Country'])['AverageTemperature'].mean())
data1910.to_csv('2010.csv')

In [8]:
# df_China.isnull().sum()

In [9]:
# df_China=df_China.dropna()

In [10]:
# df_China.isnull().sum()

In [11]:
# df_China['year']=df_China['dt'].dt.year
# df_China['month']=df_China['dt'].dt.month
# df_China.info()

In [12]:
# df['year']=df['dt'].dt.year
# df['month']=df['dt'].dt.month
# df.info()

In [13]:
# df['AverageTemperature'].interpolate(inplace=True)#线性插值
df=df.dropna()
# df['AverageTemperatureUncertainty'].fillna(df['AverageTemperatureUncertainty'].mean(),inplace=True)#平均值赋值
df.isnull().sum()

dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
City                             0
Country                          0
Latitude                         0
Longitude                        0
dtype: int64

In [14]:
# df_nan_index=df.loc[df['AverageTemperature'].isnull()].index.tolist()
# x1=df['year'][df_nan_index].drop_duplicates()

In [26]:
# data=df[df['dt'].dt.year.isin(np.arange(1992,1993))]
# data_2=data[data['dt'].dt.month.isin(np.arange(1,2))]
# data_2.to_csv('1992year.csv')

In [16]:
data_1=data.groupby('dt')['AverageTemperature'].mean()