In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [29]:
data = pd.read_table('D:/Code/Face_emotion/apmcm/orginal_year_2.csv',sep=',',header=None)
data

        0          1
0    1881   8.800000
1    1882   8.679091
2    1883   8.593818
3    1884   7.825417
4    1885   8.371455
..    ...        ...
136  2017   9.890583
137  2018   9.726167
138  2019   9.923750
139  2020  10.080833
140  2021   9.827250

[141 rows x 2 columns]

In [33]:
data_2=[]
for i in range(int(len(data[0])/10)):
    data_2.append([data[0][10*i],data[1][10*i]])
data_2.append([2021,9.827250])
data_2=pd.DataFrame(data_2)
data_2.to_csv('10.csv')